data/*
**/intermediate/
**/*~
**/*[oe][0-9][0-9][0-9]*
.Rproj.user
modules/groupVariants_201117/groups/
**/*.bcf
**/*.vcf.gz
**/*.vcf
**/logs
**/*.gds
**/*.bakk
**/*.snakemake/
**/*.gz
**/*.bulk
**/*.RData
**/*.bakk
modules/smmat_201211/results*
modules/coverage_210706/coverageFiles/
**/.Rhistory
**/.DS_Store
**/*.DS_Store
